
<script src="https://code.jquery.com/jquery.min.js"></script>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
  id="bootstrap-css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet"
  type="text/css" />
<!-- <link href="https://bootswatch.com/yeti/bootstrap.min.css" rel="stylesheet" type="text/css" /> -->


<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Estado de sitios BA2019</h1>
    </div>
  </div>
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div id="general-warning">
          
      </div>
      


      <div class="row clearfix">
        <div class="col-md-12 column">
          <div class="list-group">

            <div class="list-group-item">
              <h4 class="list-group-item-heading">
                Metabase
                <a data-toggle="tooltip" data-placement="bottom" href="https://analytics.ba2019.info" title="analytics.ba2019.info">
                  <i class="fa fa-question-circle"></i>
                </a>
              </h4>
              <p id="metabase-status" class="list-group-item-text">
                <!-- <span class="label label-danger">Not Operational</span> -->
              </p>
            </div>

            <div class="list-group-item">
              <h4 class="list-group-item-heading">
                Caspio
                <a  data-toggle="tooltip" data-placement="bottom" href="https://app.ba2019.info" title="app.ba2019.info">
                  <i class="fa fa-question-circle"></i>
                </a>
              </h4>
              <p id="caspio-status" class="list-group-item-text">
                
              </p>
            </div>

            <div class="list-group-item">
              <h4 class="list-group-item-heading">
                Nextcloud
                <a data-toggle="tooltip" href="https://cloud.ba2019.info" data-placement="bottom"
                  title="cloud.ba2019.info">
                  <i class="fa fa-question-circle"></i>
                </a>
              </h4>
              <p id="nextcloud-status" class="list-group-item-text">
              </p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>

  $(document).ready(function () {

    $.ajax({
      url: 'https://status.statusba2019.workers.dev',
      dataType: 'json',
      //headers: { 'client-url': window.location.href },
      type: 'get',
      contentType: 'application/json; charset=utf-8',
      success: function (data, textStatus, jQxhr) {
        console.log(data);

        var notOperationalStatusHtml = '<span class="label label-danger">No está funcionando</span>';
        var operationalStatusHtml = '<span class="label label-success">Funcionando</span>';

        var warning = false;

        if(data['analytics.ba2019.info'] == 200)
          $("#metabase-status").html(operationalStatusHtml);
        else {
          $("#metabase-status").html(notOperationalStatusHtml);
          warning = true;
        }

        if(data['cloud.ba2019.info'] == 200)
          $("#nextcloud-status").html(operationalStatusHtml);
        else {
          warning = true;
          $("#nextcloud-status").html(notOperationalStatusHtml);
        }

        if(data['app.ba2019.info'] == 200)
          $("#caspio-status").html(operationalStatusHtml);
        else {
          warning = true;
          $("#caspio-status").html(notOperationalStatusHtml);
        }

        var warningHtml = `<div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">
                  Algunos sistemas no están funcionando. Recargue esta página dentro de unos minutos
                </h3>
              </div>
            </div>`;
        
        if(warning)
          $("#general-warning").html(warningHtml);

      },
      error: function (jqXhr, textStatus, errorThrown) {

        var warningHtml = `<div class="panel panel-warning">
              <div class="panel-heading">
                <h3 class="panel-title">
                  No se pudo obtener el estado de los sitios
                </h3>
              </div>
            </div>`;
        
        if(warning)
          $("#general-warning").html(warningHtml);
      }
    });

  });

</script>